@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}
<div class="row" style="justify-content: center;">
    <form class="form-signin col-6">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

        <div class="form-label-group">
            <label asp-for="Input.Email" for="inputEmail">Email address</label>
            <input asp-for="Input.Email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
            <span class="text-danger" asp-validation-for="Input.Email"></span>
        </div>

        <div class="form-label-group">
            <label asp-for="Input.Password" for="inputPassword">Password</label>
            <input asp-for="Input.Password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
            <span class="text-danger" asp-validation-for="Input.Password"></span>
        </div>

        <div class="checkbox mb-3">
            <label asp-for="Input.RememberMe">
                <input type="checkbox" asp-for="Input.RememberMe" value="remember-me"> Remember me
                @Html.DisplayNameFor(m => m.Input.RememberMe)
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" id="login-submit" type="submit">Sign in</button><br>
        <a asp-area="Identity" asp-page="/Account/Register">Register</a>
    </form>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
